---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Candito Training">
  <header>
    <div class="flex border-2 border-red-500">
      <nav
        class="flex items-center justify-center space-x-6 border-2 border-blue-500 w-full"
      >
        <div class="flex w-1/2 justify-start">
          <div class="border-2 border-purple-500">
			<img src="https://yt3.googleusercontent.com/ytc/AOPolaT1u2wp4zdLRDgq2g8nia2i4eFlJaRHc7nOsSZE2w=s176-c-k-c0x00ffffff-no-rj" alt="logo"/>
		  </div>
          <a class="flex float-left" href="/">Home</a>
        </div>
        <a href="/programs">Free Programs</a>
        <a href="/coaching">Online Coaching</a>
        <a href="/merchandise">Merchandise</a>
        <a href="/about">About Me</a>
      </nav>
    </div>
  </header>
  <main>
    <body></body>
  </main>
</Layout>
